:root {
  --back: hsla(0, 0%, 0%, 1);
  --back2: hsla(0, 0%, 30%, .5);
  --foredark: hsla(0, 0%, 10%, 1);
  --forelight: hsla(0, 0%, 100%, 1);
  --border: hsla(0, 0%, 10%, .8);
  --borderlight: hsla(0, 0%, 33%, .3);
  --shadow: hsl(0, 0%, 50%);
  --zebra: hsl(0, 0%, 93%, 1);
}

/* hsla = hue (0 to 360 color wheel, 0 = black, 360 = red),
 saturation (0% is shade of gray, 100% full color), 
 lightness (0% is black, 50% normal, 100% white),
 alpha (opacity 0.0 transparent to 1.0 opaque)*/

body {
  font-family: 'Courier New', Courier, monospace;
}

table {
  margin: 10px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--back);
  font-size: .70rem;
}

td,
th {
  padding: 10px 20px;
  text-align: center;
}

thead {
  background-color: var(--back);
  color: var(--forelight);
}

thead th {
  background-color: var(--back2);
}

.headings {
  background-color: var(--back);
}

tbody,
th,
td {
  border: thin dotted var(--borderlight);
}

tbody tr:nth-child(odd) {
  background-color: var(--zebra);
}