html {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Playfair Display', serif;
}

main {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header,
footer {
  grid-column: 1/4;
  text-align: center;
  background-color: #02364F;
  color: #F5F5F5;
  padding: .5rem;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.middle {
  grid-column: 2/3;
  margin: .5rem;
  padding: .5rem;
  border-style: solid;
  border-width: 1px;
}

.left-side {
  grid-column: 1/2;
  margin: .5rem;
  padding: .5rem;
  border-style: solid;
  border-width: 1px;
}

.right-side {
  grid-column: 3/4;
  margin: .5rem;
  padding: .5rem;
  border-style: solid;
  border-width: 1px;
}



.indigo {
  margin: 0;
  background-color: #034363;
  color: #F5F5F5
}

.onyx {
  margin: 0;
  background-color: #3D3D3D;
  color: #F5F5F5
}

.whitesmoke {
  margin: 0;
  background-color: #F5F5F5;
}

.selectiveyellow {
  margin: 0;
  background-color: #FFB703;
}

.utorange {
  margin: 0;
  background-color: #FB8500;
  color: #F5F5F5
}

.prussianblue {
  margin: 0;
  background-color: #02364F;
  color: #F5F5F5
}

.playfair-display {
  font-family: "Playfair Display";

}

.libre-baskerville {
  font-family: "Libre Baskerville";
}