html {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: bold;
}

h2 {}

.indigo {
  color: #034363;
}

.onyx {
  color: #3D3D3D;
}

.whitesmoke {
  color: #F5F5F5;
}

.selectiveyellow {
  color: #FFB703;
}

.utorange {
  color: #FB8500;
}

.prussianblue {
  color: #02364F;
}