html {
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

body {
  display: grid;
  min-height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header,
footer {
  grid-column: 1 / 4;
  text-align: center;
  background-color: #02364F;
  color: #F5F5F5;
  padding: .5rem;
}

nav {
  grid-column: 1 / 4;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav a {
  float: left;
  display: block;
  padding: 1rem;
}

nav a:hover {
  background-color: #fb8500;
  color: #02364F;
}

#menu::before {
  content: url("../images/hamburger.svg");
}

#menu.show::before {
  content: url("../images/closex.svg");
}

.show li {
  display: none;
}

/*
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidemenu li {
  width: 100%;
}

.sidemenu a {
  width: 100%;
}*/

.left-sidebar {
  grid-column: 1 / 2;
  background-color: #ffb703;
}

main {
  display: grid;
  grid-column: 2 / 3;
  grid-gap: 20px;
  background-color: #3d3d3d;
}

.right-sidebar {
  grid-column: 3 /4;
  background-color: #fb8500;
}

section {
  grid-column: 2 / 3;
  grid-row: 1;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}