/*universal reset; hard code reset override margin, padding. border-box define as contstrained to size of initial border defined by container
as long as not in-line element, when add padding do not let expand beyond box:
*{
  margin: 0
padding: 0
box-sizing: border-box} 

makes global available and possible to change any var etc.   on entire site
:root {
  --main-blue: #3d3d3d;
  --main-orange:
  --main-title-font: "Playfair", Sans-serif;
  --main-text-font: "Roboto", Sans-serif;
}*/



body {
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

body {
  display: grid;
  min-height: 120vh;
  grid-template: auto 60px auto / auto 1fr auto;
}

header,
footer {
  grid-column: 1 / 4;
  text-align: center;
  background-color: #02364F;
  color: #F5F5F5;
  padding: .5rem;
}

#mode {
  /*position: relative;*/
  float: right;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
}

#menu {
  display: block;
  text-decoration: none;
}

#menu::before {
  content: url("../images/hamburger.svg");
}

nav {
  grid-column: 1 / 4;
  border: 1px solid #3d3d3d;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  text-align: left;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
  background-color: #fb8500;
  color: #02364F;
}

.show li {
  display: block;
}

#menu.show::before {
  content: url("../images/closex.svg");
}

.left-sidebar {
  grid-column: 1 / 2;
  border: 1px solid #3d3d3d;
}

main {
  display: grid;
  grid-column: 2 / 3;
  grid-gap: 20px;

}

.right-sidebar {
  grid-column: 3 /4;
  border: 1px solid #3d3d3d;
}

section {
  grid-column: 2 / 3;
  grid-row: 1;
  border: 1px solid #3d3d3d;
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
}