@media only screen and (min-width: 40em) {

  body {
    display: grid;
    /*min-height: 120vh;*/
    grid-template: auto 1fr auto / auto 1fr auto;
  }

  header,
  footer {
    grid-column: 1 / 4;
  }

  nav {
    grid-column: 1 / 4;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }

  .left-sidebar {
    grid-column: 1 / 2;
  }

  main {}

  .middle {
    grid-column: 2 / 3;
  }

  .right-sidebar {
    grid-column: 3 /4;
    grid-row: 1;
  }

  /*section {
    grid-column: 2 / 3;
    grid-row: 2;
  }*/

  .columns {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  /*.resopnsiveimg {
    grid-column: 1 / 4;

  }

  .largelabel {}

  .largelabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
  }*/
}