@media only screen and (min-width: 60em) {




  .largelabel {
    position: absolute;
    top: 20vw;
    left: 50vw;
    background: radial-gradient(#fff, rgb(244, 249, 251));
    border: 5px solid #3d3d3d;
    padding: .5rem;
    opacity: 0.75;
    font-size: 4rem;
  }

  .largelabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 600;
  }

  .mediumlabel {
    display: none;
  }
}