* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  text-align: center;
  padding: 2px;
}

main {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  padding: 2px;
  background: black;
  animation: fade 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}