html {
  /*Lexend Deca font not working, see html for further notes, have triple checked code is correct and is copied directly
  from google fonts. Have also tried moving code to Body, made no difference.*/
  font-family: 'Lexend Deca',
    sans-serif;
  font-family: 'Roboto',
    sans-serif;
}


header {
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}

.title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.portrait {
  padding: 1rem;
}

nav {
  grid-column: 1 / 4;
  text-align: center;
  background-color: black;
  padding: 1rem;
}

nav a {
  color: white;
  display: block;
  padding: 1rem;
}

main {
  margin: auto;
  grid-column: 2 / 3;
  text-align: center;
  max-width: 90%;
  padding: 1rem;
}

ul {
  list-style: none;
  text-align: left;
}


h3 {
  background-color: darkblue;
  color: white;
  margin: 0;
}

.card {
  border: 2px solid black;
  margin: 1rem;
}

#flag {
  margin-left: 10px;
}

/*How do I get the text and the flag to be centered, like the header?
p {
  height
  line-height
  
  Maybe I should just delete it!!!!!!!!
}*/

footer {
  grid-column: 1 / 4;
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}