html {
  /*Lexend Deca font not working, see html for further notes, have triple checked code is correct and is copied directly
  from google fonts. Have also tried moving code to Body, made no difference.*/
  font-family: 'Lexend Deca',
    sans-serif;
  font-family: 'Roboto',
    sans-serif;
}

header {
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-text {
  padding: 1rem;
}

.portrait {
  padding: 1rem;
}

h2 {
  margin: 1rem;
  border-bottom: 1px solid black;
}

.hero {
  margin: 10px auto;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .75);
}

.hero img {
  width: 100%;
  height: auto;
}

.herolabel {
  position: absolute;
  top: 3vw;
  left: 3vw;
  background: radial-gradient(#fff, rgb(200, 240, 254));
  border: 1px solid rgba(82, 82, 82, 0.25);
  padding: 1rem;
  opacity: 0.75;

}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 500;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: white;
  display: block;
  padding: 1rem;
}

nav a:hover {
  border: 1px solid white;
}

#menu {
  display: block;
  font-size: 1.5rem;
  border: 0;
  background: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#menu::before {
  content: url("../images/menu-hotdog50x30.png");

}

#menu.show::before {
  content: url("../images/x-pack.50x50.png");
}

.show li {
  display: none;
}


li a {
  text-decoration: none;
}

.active::before {
  content: "🏠";
}

main {
  margin: auto;
  text-align: center;
  max-width: 90%;
  padding: 1rem;
}

ul {
  list-style: none;
  text-align: left;
}


h3 {
  background-color: darkblue;
  color: white;
  margin: 0;
}

.card {
  border: 2px solid black;
  margin: 1rem;
}

.google {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin: 1rem;

}

.google iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#flag {
  margin-left: 10px;
}

/*How do I get the text and the flag to be centered, like the header?
p {
  height
  line-height
  
  Maybe I should just delete it!!!!!!!!
}*/

footer {
  grid-column: 1 / 4;
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}