html {
  /*Lexend Deca font not working, see html for further notes, have triple checked code is correct and is copied directly
  from google fonts. Have also tried moving code to Body, made no difference.*/
  font-family: 'Lexend Deca',
    sans-serif;
  font-family: 'Roboto',
    sans-serif;
}

header {
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-text {
  padding: 1rem;
}

.portrait {
  padding: 1rem;
  /*width: 100%;
  height: auto;
  object-fit: contain;*/
}

h2 {
  margin: 1rem;
  border-bottom: 1px solid black;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: white;
  display: block;
  padding: 1rem;
}

nav a:hover {
  border: 1px solid white;
}

#menu {
  display: block;
  text-decoration: none;
}

#menu::before {
  content: url("../images/menu-hotdog80x48.png");

}

#menu.show::before {
  content: url("../images/x-pack48x48.png");
}

.show li {
  display: none;
}


/*li a {
  text-decoration: none;
  list-style: none;
}*/

li {
  display: block;
  list-style-type: none;

  padding-bottom: 10px;
}

.active::before {
  content: "🏠";
}

label {
  display: block;
  margin: 1rem 0;
  padding: .5rem 2%;
}

legend {
  color: blue;
  padding: 0 .5rem;
}



footer {
  grid-column: 1 / 4;
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 1rem;
}

/*pseudo class rule eg input:invalid { background-color: red;} input:valid {background-color: green} */